<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.sales.mapper.VrHisRegisteredfeeMapper">
    
    <resultMap type="VrHisRegisteredfee" id="VrHisRegisteredfeeResult">
        <result property="regId"    column="reg_id"    />
        <result property="mid"    column="mid"    />
        <result property="companyId"    column="company_id"    />
        <result property="registeredfeeName"    column="registeredfee_name"    />
        <result property="registeredfeeFee"    column="registeredfee_fee"    />
        <result property="registeredfeeSubFee"    column="registeredfee_sub_fee"    />
        <result property="registeredfeeAggregateAmount"    column="registeredfee_aggregate_amount"    />
        <result property="numberofsub"    column="numberOfSub"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectVrHisRegisteredfeeVo">
        select reg_id, mid, company_id, registeredfee_name, registeredfee_fee, registeredfee_sub_fee, registeredfee_aggregate_amount, numberOfSub, create_time from vr_his_registeredfee
    </sql>

    <select id="selectVrHisRegisteredfeeList" parameterType="VrHisRegisteredfee" resultMap="VrHisRegisteredfeeResult">
        <include refid="selectVrHisRegisteredfeeVo"/>
        <where>  
            <if test="mid != null "> and mid = #{mid}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="registeredfeeName != null  and registeredfeeName != ''"> and registeredfee_name like concat('%', #{registeredfeeName}, '%')</if>
            <if test="registeredfeeFee != null "> and registeredfee_fee = #{registeredfeeFee}</if>
            <if test="registeredfeeSubFee != null "> and registeredfee_sub_fee = #{registeredfeeSubFee}</if>
            <if test="registeredfeeAggregateAmount != null "> and registeredfee_aggregate_amount = #{registeredfeeAggregateAmount}</if>
            <if test="numberofsub != null "> and numberOfSub = #{numberofsub}</if>
        </where>
    </select>
    
    <select id="selectVrHisRegisteredfeeByRegId" parameterType="Long" resultMap="VrHisRegisteredfeeResult">
        <include refid="selectVrHisRegisteredfeeVo"/>
        where reg_id = #{regId}
    </select>
        
    <insert id="insertVrHisRegisteredfee" parameterType="VrHisRegisteredfee" useGeneratedKeys="true" keyProperty="regId">
        insert into vr_his_registeredfee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mid != null">mid,</if>
            <if test="companyId != null">company_id,</if>
            <if test="registeredfeeName != null and registeredfeeName != ''">registeredfee_name,</if>
            <if test="registeredfeeFee != null">registeredfee_fee,</if>
            <if test="registeredfeeSubFee != null">registeredfee_sub_fee,</if>
            <if test="registeredfeeAggregateAmount != null">registeredfee_aggregate_amount,</if>
            <if test="numberofsub != null">numberOfSub,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mid != null">#{mid},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="registeredfeeName != null and registeredfeeName != ''">#{registeredfeeName},</if>
            <if test="registeredfeeFee != null">#{registeredfeeFee},</if>
            <if test="registeredfeeSubFee != null">#{registeredfeeSubFee},</if>
            <if test="registeredfeeAggregateAmount != null">#{registeredfeeAggregateAmount},</if>
            <if test="numberofsub != null">#{numberofsub},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateVrHisRegisteredfee" parameterType="VrHisRegisteredfee">
        update vr_his_registeredfee
        <trim prefix="SET" suffixOverrides=",">
            <if test="mid != null">mid = #{mid},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="registeredfeeName != null and registeredfeeName != ''">registeredfee_name = #{registeredfeeName},</if>
            <if test="registeredfeeFee != null">registeredfee_fee = #{registeredfeeFee},</if>
            <if test="registeredfeeSubFee != null">registeredfee_sub_fee = #{registeredfeeSubFee},</if>
            <if test="registeredfeeAggregateAmount != null">registeredfee_aggregate_amount = #{registeredfeeAggregateAmount},</if>
            <if test="numberofsub != null">numberOfSub = #{numberofsub},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where reg_id = #{regId}
    </update>

    <delete id="deleteVrHisRegisteredfeeByRegId" parameterType="Long">
        delete from vr_his_registeredfee where reg_id = #{regId}
    </delete>

    <delete id="deleteVrHisRegisteredfeeByRegIds" parameterType="String">
        delete from vr_his_registeredfee where reg_id in 
        <foreach item="regId" collection="array" open="(" separator="," close=")">
            #{regId}
        </foreach>
    </delete>
</mapper>